
.dept_menu{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}
#d{
    width: auto;
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    margin: 2px;
}
#d h1{
    font-family: 'Trebuchet MS';
    font-size:40px;
}
.dept{
    background-color: rgb(38, 226, 170);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-radius: 9px;
}
.b{
    width: 100%;
    height: 100pc;
    display: flex;
}
.left_nav{
    position : sticky;
    float: left;
    top: 0px;
    width: 24.5%;
    order: -1;
}
.right_nav{
    order: 1;
    float: right;
    width: 74%;
    height: 100%;
}
#ce{
    width: 100%;
    height:auto;
    border: 2px solid ;
    margin-bottom: -2px;
    text-align: center;
    cursor: pointer;
}

.CE_dept,.CME_dept,.ECE_dept,.ME_dept,#ce{
    cursor: pointer;
}
.cediv{
    height:100%;
    display: none;
}
/* ce branches */

#cur0,#lab0,#fac0,#pdf0{
    display: none;
}
#cur1,#lab1,#fac1,#pdf1{
    display: none;
}
#cur2,#lab2,#fac2,#pdf2{
    display: none;
}
#cur3,#lab3,#fac3,#pdf3{
    display: none;
}
#cur4,#lab4,#fac4,#pdf4{
    display: none;
}

.cmediv{
    height:100%;
}
.ecediv{
    height:100%;
}

