body{
    overflow-x: hidden;
}
.clg_logo{
    float: left;
    margin-left: 35px;
    height: 100px;
    width: 100px;
  
}


.clg_name p{
    display: flex;
    justify-content: end;
    padding-right: 29px;
    height: 95px;
    align-items: center;
}
.govt{
    font-size: 45px;
    font-family:system-ui;
    text-transform: uppercase;

}
.plpt{
    font-size: 25px;
    padding-top: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;

}

.menuu{
    background-color: blue;
    height: 50px;
    margin-right: -10px;
    margin-left: 55px;
    border-bottom-left-radius:25px ;
    border-top-left-radius: 25px;
    box-shadow: -5px 10px 15px rgb(0,0,0,0.7);
    animation: menuu 2s;
}
@keyframes menuu{
  from{
    transform: translateX(1200px);
  }
  to{
    transform: translateX(0px);
  }
}
#home_btn{
    text-decoration: none;
    float: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
}
.menuu ul{
    display: flex;
    justify-content: end;
    padding-right: 60px;
}
.menuu ul li{
    list-style:none;
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
}
.menuu ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;

}
/* dropdown Academics ends here*/
.dropdown_acad{
    
    width: fit-content;
    background-color: blue;
    opacity: 1;
    border: 2px solid wheat;
    border-radius: 10px;
    box-shadow: -5px 10px 10px rgb(0,0,0,0.4);
}
 .dropdown_acad ul{
    display: contents; 
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
} 
.dropdown_acad ul li{
    list-style: none; 
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom:5px ;   
}
.dropdown_acad ul li a{
    text-decoration: none;
    color:white;
    font-family: 'Times New Roman';
}
#aacad{
    display: none;
    position: relative;
   
}
#aacad.aacad{
    display: block;
    position: absolute;
    top: 50px;
}

#enrol{
   display: none;
   position: relative;
}
#enrol.enrol{
    display: block;
    border: 2px solid wheat;
    position: absolute;
}


/* dropdown Academics ends here
 dropdown departments  starts here*/
.dropdown_dept{
    display: none;
    width: 200px;
    background-color: blue;
    opacity:.9;
    border: 2px solid  rgb(90, 90, 218);
    border-radius: 10px;
    box-shadow: -5px 10px 15px rgb(0,0,0,0.7);
}
.dropdown_dept ul{
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown_dept ul li{
    list-style: none; 
    padding-top: 5px;
    padding-bottom:5px ;   
}
.dropdown_dept ul li a{
    text-decoration: none;
    color: white;
}
.dropdown_acad ul li:hover .dropdown_dept{
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
}
#menu_but{
    display: none;
 } 

 /*  */
  /*  */
/* responsive for tablet */
@media screen and (max-width:980px) {
    .govt{
        font-size: 38px;
        text-transform: uppercase;

    }
    
    .plpt{
        font-size: 20px;
        text-transform: uppercase;

    }
}
@media screen and (max-width:880px) 
{
    .clg_logo{
        height:80px;
        width: 80px;
    }
    .govt{
        font-size: 30px;
        text-transform: uppercase;

    }
   
    .plpt{
        padding-top: 5px;
        font-size: 18px;
        text-transform: uppercase;

    }

    #sidemenu{
        border-radius: 5px;
    box-shadow: -5px 5px 10px rgb(0, 0, 0, 0.797);
    position: relative;
    top: 50px;
    left: 0px;
    visibility:hidden;
    transition: 0s;
   }
   #sidemenu.active{
    visibility:visible;
    transition: 10s;
   } 
   
   .menuu ul li:hover .dropdown_acad{
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: fit-content;
   }
   

   #menu_but{
    display: block;
    position: relative;
    float: right;
    top:15px;
    right: 20px;
    
    
   }
   
   .menuu ul{
    position: relative;
    background-color: blue; 
    display: block;
   }
   .menuu ul li{
    padding:10px;
   }
#aacad{
    display: none;
    position: relative;
   
}
#aacad.aacad{
    display: block;
    position: relative;
    
    
}

#enrol{
   display: none;
   position: relative;
}
#enrol.enrol{
    display: block;
    border: 2px solid wheat;
    position: relative;
   
    
}
   
}
/* */
/* responsive mobile menu starts here */
@media screen and (max-width:720px){
    .govt{
        font-size: 20px;
        text-transform: uppercase;

    }
    .plpt{
        font-size: 15px;
        text-transform: uppercase;

    }
    .clg_logo{
        height:75px;
        width: 75px;
    }
}
@media screen and (max-width:580px){
    
    .govt{
        font-size: 15px;
        text-transform: uppercase;

    }
    .plpt{
        font-size: 10px;
        text-transform: uppercase;

    }
  
}
@media  screen and (max-width:430px) {
    .govt{
        font-size: 12px;
        text-transform: uppercase;

       
    }
    .plpt{
        font-size: 12px;
        text-transform: uppercase;
       
    }
    .clg_logo{
        height:70px;
        width: 70px;
    }
}
/* header part ends here */


/* footer starts */
/*  */
footer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.797);
    height: 18pc;
}
.latest_links{
    width: 48pc ;
    border: 1px solid blue;
}
.must{
    width: 48pc;
    border: 1px solid blue;
   
}
.must ul li{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    padding-top: 19px;
}
.must ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.social{
    list-style: none;
    display:flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}
