/* footer ends here */
/*  */
/*  */
/*  */
/* EVENTS PAGE STARTS HERE */
/*  */
/*  */
/*  */
.up_events{
    border: 4px solid red;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    width: 100%;
    height: 350px;
}
.event_left{
    border: 2px solid white;
    height: auto;
    width: 100%;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.797);
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.left_img{
    background:red;
    width: 250px;
    height: 250px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 8px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.797);
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    margin-top: 20px;
    margin-left: 60px;
}.left_img img{
    width: 250px;
    height: 250px;
 
}
.left_data{
    margin-left: 150px;
    width: 100%;
    height: 50vh;
    border:2px solid rgb(243, 229, 229) ;
    overflow-y: auto;

}
.left_data::-webkit-scrollbar{
    width: 2px;
}
.event_right{
    border: 2px solid white;
    width: 100%;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.797);
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.right_img{
    
    background:red;
    width: 250px;
    height:250px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 8px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.797);
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    margin-top: 20px;
    margin-left: 60px;
    flex-shrink: 0;
    
}
.right_img img{
    width: 250px;
    height: 250px;
}
.right_data{
    margin-left: 100px;
    margin-right: 100px;
    height: 50vh;
    width: 100%;
    border:2px solid rgb(243, 229, 229) ;
    overflow-y: auto;

}
.right_data::-webkit-scrollbar{
    width: 2px;
}
@media  screen and (max-width:950px) {
    .event_left{
        display: flex;
        flex-direction: column;
        
    }
    .left_img{
        width: 150px;
        height: 150px;
        margin: auto; 
    }
    .left_img img{
        width: 150px;
        height: 150px;
    }
    .left_data{
       
        margin: auto;
    }
    .event_right{
        display: flex;
        flex-direction: column;
    }
    .right_img{
        width: 150px;
        height: 150px;
        order: -1;
        margin: auto;
    }.right_img img{
       
        width: 150px;
        height: 150px;
    }
    .right_data{
        margin: auto;
    }
}